.header-account {
	display: flex;
	align-items: center;
	color: inherit;
	cursor: pointer;
	user-select: none;

	&:hover {
		color: inherit;
	}

	.icon {
		width: 36px;
		height: 36px;
		border-radius: 50%;
		overflow: hidden;
	}

	.info {
		margin-left: 8px;
		line-height: 1;

		.title {
			font-size: 0.75rem;
			font-weight: 400;
		}
		.username {
			margin-top: 2px;
			font-size: 1rem;
			font-weight: 400;
		}
	}
}

.drop-down {
	width: 265px;
	z-index: 10000;

	&__list {
		padding: 8px 0;

		li {
			padding: 8px 12px;

			.notification-number {
				display: inline-flex;
				align-items: center;
				justify-content: center;

				margin-left: 8px;
				border-radius: 50%;
				width: 24px;
				height: 24px;

				color: white;
				background-color: red;
				font-size: 0.75rem;
				line-height: 1;
				font-weight: 400;
			}
		}
	}
}
