.search-box {
	height: 128px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f0f2f5;

	&__form {
		width: 800px;
		display: flex;

		.search-input {
			border: 1px solid #ccc;
			border-right: none;
			border-radius: 4px 0 0 4px;
			padding: 8px;

			&:focus {
				border-color: var(--blue);
				outline: none;
			}
		}

		.submit-btn {
			border: none;
			border-radius: 0 4px 4px 0;
			width: 96px;

			color: white;
			background-color: var(--blue);
			font-size: 1.125rem;
			font-weight: 500;

			cursor: pointer;
			user-select: none;
		}
	}
}
