.header-search {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-right: 16px;
	border-radius: 50%;
	width: 36px;
	height: 36px;

	color: white;
	background-color: var(--blue);
	font-size: 1.25rem;

	cursor: pointer;
	user-select: none;
}
