.header-search {
	align-self: center;
	margin-right: 16px;
	display: flex;
	align-items: center;

	cursor: pointer;
	user-select: none;

	&__icon {
		font-size: 1.5rem;
	}

	&__text {
		font-size: 1rem;
		font-weight: 400;
	}
}
