.auth-template {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	min-height: 100vh;
	padding: 32px;
	background: linear-gradient(to bottom, #4b6cb7, #182848);
	// background: linear-gradient(to left, #ffd89b, #19547b);
	// background: linear-gradient(to top, #000428, #004e92);
	// background: linear-gradient(to right, #28b487, #7dd56f);
}
