.skeleton-card {
	position: relative;
	padding: 24px 20px;
	background-color: white;
	cursor: pointer;
	user-select: none;

	&:hover {
		box-shadow: 0 0 16px 0 #ccc;
		z-index: 10;
	}

	&__image {
		width: 100% !important;
		height: 300px !important;
	}
}
