.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	color: black;
	background-color: white;
	box-shadow: 0 0 5px 0 #ccc;

	&__container {
		height: 64px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		display: inline-block;
		color: var(--primary);
		font-size: 1.5rem;
		font-weight: 500;

		&:hover {
			color: var(--primary);
		}
	}

	&__right {
		display: flex;
		align-items: flex-end;
	}
}
