.dashboard {
	&__sider.ant-layout-sider {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100vh;
		overflow: auto;
	}

	&__logo {
		padding-left: 24px;
		background-color: #002140;

		.logo-link {
			display: flex;
			align-items: center;

			.logo-img {
				width: 32px;
			}

			.logo-name {
				margin-left: 8px;
				color: white;

				font-size: 1.25rem;
				font-weight: 500;
				line-height: 64px;
			}
		}
	}

	&__main {
		width: 100%;
		margin-left: 250px;
		background-color: #f0f2f5;
	}

	&__header {
		height: 64px;
		background-color: white;
	}

	&__content {
		padding: 32px;
		height: 500vh;
	}
}
